.main-container{
  display : flex;
  gap: 40px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-container{
  width: 300px;
}

.product-poster{
  width : 300px;
  height : 350px;
  object-fit: contain;
}

.name-rating{
  display : flex;
  justify-content: space-between;
  align-items: center;
}

.product-summary{
  text-align: justify;
  margin-bottom : 0px;
}

.price {
  display : flex;
  align-items : center;
  gap: 5px;
}

.product-price {
  font-size: medium;
  font-weight: 700;
}